[submodule "submodules/ccc"]
	path = submodules/ccc
	url = git://github.com/krockot/ccc
  ignore = dirty
  branch = master
[submodule "submodules/ace"]
	path = submodules/ace
	url = git://github.com/ajaxorg/ace
  ignore = dirty
[submodule "submodules/pegjs"]
	path = submodules/pegjs
	url = https://github.com/dmajda/pegjs
