.cmacs_ui_Frame {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.cmacs_ui_TabStrip {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 29px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  background-color: #111;
}

.cmacs_ui_Tab {
  height: 26px;
  bottom: 0;
  font-size: 12px;
  min-width: 10px;
  max-width: 160px;
  overflow: hidden;
  padding: 0;
  background-color: #444;
  color: #bbb;
  border: solid #555 1px;
  border-bottom: none;
  border-radius: 6px;
  border-left-width: 3px;
  border-left-color: #333;
  padding-bottom: 6px;
  margin-top: 2px;
}

.cmacs_ui_Tab.active {
  background-color: #272822;
  border-left-color: #222;
  color: white;
}

.cmacs_ui_Tab > span {
  margin-top: 6px;
  margin-left: 12px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.cmacs_ui_Tab.active > span {
}

.cmacs_ui_StatusBar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 18px;
  font-size: 14px;
  background-color: #666;
}

.cmacs_ui_ViewContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 29px;
  bottom: 17px;
  background-color: #444;
}

.cmacs_ui_ViewContainer > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
