body {
  margin: 0;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 100px;
}

#console {
  left: 0;
  right: 0;
  bottom: 0;
  height: 95px;
  font-family: monospace;
  font-size: 10pt;
  position: absolute;
  background-color: #ddd;
}

